# vscode
.vscode

# Python:
*.py[cod]
*.so
*.egg
*.egg-info
dist
build

# jupyter
**/.ipynb_checkpoints/
*.ipynb

# 资源文件
碧蓝航线/Data
Autodroid/PlayerSimulate/
WarFrame/scripts/shot*.png

**/dump/
**/logs/
**/shots/

**/resources/*.json
*.bak.json


WarFrame/image_based/

# 旧代码
*/AutoFight.7z
FateGO/AutoFight/
碧蓝航线/AutoFight/
碧蓝航线/dump/

Autodroid/FiddlerDump/Unreal.FGO-master
*.log
Autodroid/azurlane/data/fightStatus.json

# 临时文件
tmp*
temp*
