# vscode
.vscode

# Python:
*.py[cod]
*.so
*.egg
*.egg-info
dist
build

# jupyter
**/.ipynb_checkpoints/
*.ipynb

# 碧蓝航线资源文件
碧蓝航线/Data


**/dump/
**/logs/

**/resources/*.json
*.bak.json


WarFrame/image_based/
